#cabecero {
  background-color: black;
  margin-top: -0.9%;
  margin-right: -0.9%;
  margin-left: -0.89%;
  border-bottom: 13px solid rgba(220, 245, 94, 0.937);
}

#titulo1 {
    margin-left: 10%;
}

#cabecero #palabra {
    color: aliceblue;
    font-weight: normal;
    font-size: 35px;
    margin: 0px;

}
#cabecero #palabra2 {
    font-weight: normal;
    color: gray;
    margin: 0px;
    padding-left: 12px;

}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row-reverse;
}

#menu {
    margin-left: -10%;
    background-color: #1d1d1d;
    padding: 15px;
    border-radius: 38px;
    padding-left: 25px;
    padding-right: 25px;
    background: linear-gradient(359deg, #181818, #242222);
}

#menu a {
    color: rgb(145, 148, 134);
    /* Color blanco del texto */
    text-decoration: none;
    /* Sin subrayado */
    font-family: Arial, sans-serif;
    /* Tipo de letra */
    font-size: 15px;
    padding: 15px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}



header {
    background: radial-gradient(circle at top, #b0abad , #121212);
    padding-top: 0.1%;
    padding-bottom: 2%;
    margin-left: -0.5%;
    margin-right: -0.5%;
}
#caja_padre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#caja_padre #caja_imagen{
    margin-top: 2%;
    width: 50%;
    margin-right: -20%;
    
}
#caja_padre img {
    width: 60%;
}

#caja_texto{
    margin-left: 2%;
    margin-right: -12%;
    margin-top: -4%;
    justify-content: center;
}
#caja_texto h1 {
    color: aliceblue;
    font-weight: normal;
    font-size: 40px;
    
}
#caja_texto h3 {
    font-weight: normal;
    color: #a4bba7;
    font-size: 25px;
}
#caja_texto a {
    border-radius: 5px;
    background-color: rgba(220, 245, 94, 0.937);
    color: black;
    text-decoration: none;
    padding: 1% 3%;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 13px solid rgba(220, 245, 94, 0.937);
}

.contenedor .maintexto{
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 5%;
}
.contenedor .maintexto h2 {
    font-size: 20px;
}
.contenedor .maintexto h3 {
    font-size: 21px;
}
.contenedor .maintexto ul li {
    font-size: 20px;
}

.contenedor .noticias {
    margin-left: 0%;
    margin-right: 0%;
    padding: 1% 0%;
}

.linea_arriba {
    height: 2%;
    background-color: #9ec400;
    width: 15%;
    margin:-15px;
    border: none;
    margin-left: 0;
}
.linea_abajo {
    background-color: #9ec400;
    height: 1.5px;
    border: none;  
}

.contenedor_padre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
}

.titulo_noticia {
    background-color: #424242;
    padding-left: 5%;
    width: 75%;
    color: white;
}

.caja_1{
    background-color: #f5f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.imagen1 {
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.caja_1 h2 {
    margin:0;
    color: gray;
    font-size: 15px;
}

.caja_1 h3 {
    margin: 0;
}
.caja_1 p {
    margin: 0;
    font-size: 15px;
}

.caja_2 {
    background-color: #dcddd7;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
}
.caja_2 h2 {
    margin:0;
    color: gray;
    font-size: 15px;

}
.caja_2 h3 {
    margin: 0;

}
.caja_2 p {
    margin: 0;
    font-size: 15px;
}
.imagen2 {
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.caja_3 {
    background-color: #f5f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.caja_3 h2 {
    margin:0;
    color: gray;
    font-size: 15px;
}
.caja_3 h3 {
    margin: 0;

}
.caja_3 p {
    margin: 0;
}
.imagen3 {
    margin: 0;
    padding-top: 3%;
    padding-right: 10%;
}

.pie_pagina {
    padding: 7%;
    background-color: rgb(41, 40, 40);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}

.pie_pagina .caja_footer_1 {
    color: white;

}
.pie_pagina .caja_footer_2 {
    color: white;

}
.pie_pagina .caja_footer_3 {
    color: white;

}
.pie_pagina .caja_footer_4 {
    color: white;

}
.pie_pagina .caja_footer_5 {
    color: white;

}
.pie_pagina a {
    color: white;
    text-decoration: none;
    background: linear-gradient(359deg, #181818, #242222);
   
    padding-right: 50%;
    padding-left: 10%;
    border-radius: 50px;
    margin: 0;
    

}

.pie_pagina .palabra_mala {
    padding-right: 25%;
    padding-left: 5%;
}
 .pie_pagina p {
    text-align: justify;
    line-height: 1.5;
 }










